<% if session[:message] %>
  <div>
    <p><%= session.delete(:message) %></p>
  </div>
<% end %>

<ul>
  <% @files.each do |file|%>
    <li><a href="/<%= file %>"><%= file %></a></li>
  <% end %>
</ul>