<form method="post" action="/create">
  <label for="content">Add a new document:</label>
  <div>
    <input name="filename" id="filename" />
  </div>
  <button type="submit">Create File</button>
</form>